@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --text-color: white;
    --primary-color: rgba(255, 0, 0, .75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: white;
    background: #f05123;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    line-height: 1.15;
}

/* Common */
.section-wrapper {
    padding: 16px 32px;
}

.wrapper {
    padding: 20px 0;
    border-bottom: 1px solid white;
}

.grid {
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, .4);
}

.grid__row {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
}

.grid__row--cert {
    list-style-type: none;
    margin-top: 20px;
}

.grid__column-3 {
    width: calc(100% / 3);
    padding-left: 8px;
    padding-right: 8px;
}

.text-h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    text-shadow: 0px 1px black, 1px 0px black, 0px -1px black, -1px 0px black;
}

.text-h3 {
    position: relative;
    margin-bottom: 16px;
    padding-left: 1.8rem;
    font-size: 2.2rem;
}

.text-h4 {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-top: 1rem;
}

.text-p {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.centerItem {
    display: flex;
    align-items: center;
}

.mb-0 {
    margin-bottom: 0;
}

/* sidebar */
.sidebar {
    position: relative;
    background: url(images/star3.gif) center / contain repeat, linear-gradient(70.06deg, #f44150 -5%, #480ab9 106%);
    color: var(--text-color);
    width: 340px;
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
}

.sidebar::before {
    position: absolute;
    top: 40px;
    left: 3.2rem;
    content: '</>';
    font-size: 40px;
    font-weight: bold;
    opacity: .1;
}

.profile-img {
    position: relative;
    width: 120px;
    height: 120px;
    margin: auto;
    background: url(images/logo-text-4.png) center / contain no-repeat, white;
    margin-bottom: 1.5rem;
    border-radius: 50%;
    text-shadow: 1px 2px 2px black;
    animation: fadeIn 2.5s linear infinite;
}

@keyframes fadeIn {

    0%,
    100% {
        box-shadow: none;
    }

    50% {
        box-shadow: 4px 4px 18px rgba(255, 255, 255, 1);
    }
}

.profile-img>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2.2rem;
}

.profile-img>div div {
    margin-top: 0px;
}

.sidebar .name {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.opacity {
    opacity: .6;
}

.text-h3--heading {
    text-shadow: 0px 1px black, 1px 0px black, 0px -1px black, -1px 0px black;
}

ion-icon {
    padding-right: 1rem;
    font-size: 1.4em;
    color: rgba(255, 255, 255, .7);
}

.sidebar a {
    color: var(--text-color);
}

.sidebar a:hover {
    color: rgba(255, 255, 255, .5);
}

.section-wrapper .wrapper:last-child {
    border-bottom: none;
}

/* container */
.container {
    width: calc(100% - 350px);
}

.wrapper-right {
    border-bottom: 1px solid var(--primary-color);
}

.text-h4-right--underline {
    text-decoration: underline;
}

.wrapper-right .text-p a {
    color: blue;
}

.wrapper-right .text-p a:hover {
    color: rgba(0, 0, 255, .7);
}

.icon-f8 {
    width: 30px;
    border-radius: 3px;
    transform: translateY(10px);
}

.grid-cert-item {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 71.95%;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 1);
    cursor: pointer;
}

.grid-cert-item:after {
    position: absolute;
    top: 16px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.8rem;
    color: white;
}

.grid__column-3-cert:first-child .grid-cert-item:after {
    content: 'HTML & CSS';
}

.grid__column-3-cert:nth-child(2) .grid-cert-item:after {
    content: 'BASIC JS';
}

.grid__column-3-cert:last-child .grid-cert-item:after {
    content: 'ADVANCED JS';
}

.grid-cert-btn {
    position: absolute;
    top: 45%;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    padding: 10px 16px;
    border-radius: 50px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid currentColor;
    transition: 0.3s;
    user-select: none;
}

.grid-cert-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.text-h3-right {
    padding-left: 0;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--primary-color);
}

.text-h4-right {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 6px;
    text-decoration: underline;
}

.grid__column-3-cert:nth-child(2) .grid-cert-btn,
.grid__column-3-cert:nth-child(3) .grid-cert-btn {
    display: none;
}

/* responsive */
@media(max-width: 740px) {
    html {
        font-size: 60%;
    }

    .main {
        margin-top: 0;
    }

    .sidebar {
        width: 100%;
    }

    .grid {
        display: block;
        margin: 0;
    }

    .grid__row {
        display: block;
    }

    .grid__column-3 {
        width: 100%;
    }

    .grid__column-3+.grid__column-3 {
        margin-top: 30px;
    }

    .grid-cert-item {
        border-radius: unset;
    }

    .container-mobile {
        width: 100%;
    }

    .grid-cert-item::after {
        display: none;
    }

    .grid-cert-btn {
        display: none;
    }

    .text-p-cert {
        line-height: 1.6;
    }

    .grid__column-3-cert:nth-child(1) .grid-cert-item {
        background-image: url(images/cert/html_css.png) !important;
    }

    .grid__column-3-cert:nth-child(2) .grid-cert-item {
        background-image: url(./images/cert/html_css.png) !important;
    }

    .grid__column-3-cert:nth-child(3) .grid-cert-item {
        background-image: url(./images/cert/html_css.png) !important;
    }

    @media(max-width: 300px) {
        .sidebar::before {
            display: none;
        }
    }
}

/* Modal */
.modal {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;

    padding: 20px;
    background-color: rgba(0, 0, 0, .7);
    overflow: hidden;
}

.modal img {
    width: 100%;
    max-width: 800px;
    border-radius: 4px;
    animation: modal-img ease 0.6s;
}

@keyframes modal-img {
    from {
        transform: translateY(-300px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}